argcomplete==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
asgiref==3.5.2 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
boto3==1.26.35 ; python_version >= "3.8" and python_version < "4.0"
botocore==1.29.35 ; python_version >= "3.8" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.8" and python_version < "4"
cfn-flip==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "4"
click==8.1.3 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.5 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
django-cors-headers==3.13.0 ; python_version >= "3.8" and python_version < "4.0"
django-environ==0.9.0 ; python_version >= "3.8" and python_version < "4"
django-storages==1.13.1 ; python_version >= "3.8" and python_version < "4.0"
django==4.1.2 ; python_version >= "3.8" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.8" and python_version < "4.0"
durationpy==0.5 ; python_version >= "3.8" and python_version < "4.0"
hjson==3.1.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
kappa==0.6.0 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.8" and python_version < "4.0"
pillow==9.2.0 ; python_version >= "3.8" and python_version < "4.0"
pip==22.3.1 ; python_version >= "3.8" and python_version < "4.0"
placebo==0.9.0 ; python_version >= "3.8" and python_version < "4.0"
psycopg2-binary==2.9.5 ; python_version >= "3.8" and python_version < "4.0"
psycopg2==2.9.5 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
python-slugify==7.0.0 ; python_version >= "3.8" and python_version < "4.0"
pytz==2022.4 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.8" and python_version < "4"
s3transfer==0.6.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.8" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.8" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.8" and python_version < "4.0"
troposphere==4.2.0 ; python_version >= "3.8" and python_version < "4.0"
tzdata==2022.4 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
urllib3==1.26.13 ; python_version >= "3.8" and python_version < "4.0"
werkzeug==2.2.2 ; python_version >= "3.8" and python_version < "4.0"
wheel==0.38.4 ; python_version >= "3.8" and python_version < "4.0"
zappa==0.56.1 ; python_version >= "3.8" and python_version < "4.0"
